body{
    margin: 0;
}
#header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color:rgb(86, 121, 128) ;
}
#head-text {
    color: white;
    display: block;
}
#button-top button {
    position: relative;
    right: -150px;
    transition: 2.0s;
    background-color:rgb(97, 218, 240) ;
    border-radius: 10px;
    padding: 10px;
    border:none;
    cursor: pointer;
    box-shadow: 4px 4px 4px black;
}
#parent-div{
    display: flex;
    background-color:rgb(86, 121, 128) ;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}
#child-div{
    display: flex;
    padding: 10px 25px 10px 25px; 
    color: white;
    cursor: pointer;
    text-align: center;
}
#floattext{
    display: flex;
    gap: 50px;
    color: white;
    font-weight: 600;
    font-size: 20px; 
}
#button-top button:hover{
    background-color: rgb(175, 80, 80);
    right:0;
}
#child-div:hover {
    background-color: orange;
}
#picture1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(62, 214, 224, 0.548);
}
#temp1 {
    display: flex;
    padding: 25px;
    background-color: rgb(231, 85, 85);
}
#admisss{
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    padding: 50px;
    border-radius: 5px;
    margin: 10px;
    color: rgba(20, 18, 18, 0.925)
}
#admisss img,p {
    border-radius: 20px;
    font-weight: 600;
    font-size: 20px;
}
#news {
    display: flex;
    padding: 25px;
    border: 2px solid black;
    flex-direction: column;
}
#inerr1 {
    display: flex;
}
#inerr {
    display : flex;
    flex-direction: column;
    height: 430px;
    margin:10px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}
#read button{
    background-color: aqua;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 4px rgba(20, 18, 18, 0.925);
    padding: 20px;
    cursor:pointer;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-top: 10px;
}
#read >button:hover{
    background-color:rgb(226, 134, 13);
    font-size: 16px;
}
#event {
    background-color: rgb(235, 78, 78);
    padding: 20px;
    color: white;
    font-weight: 900;
}
#images {
    display: flex;
    gap: 50px;
    padding: 20px;
}
#accredited{
    background-color: rgb(235, 78, 78);
    padding: 20px;
}
#title{
    color: white;
    font-size: 25px;
    border-bottom: 2px solid white;
}
#content-acc{
    display: flex;
    margin-top: 15px;
}
#naac{
    background-color: white;
    margin: 10px;
    border-radius: 10px ;
    text-align: center;
    box-shadow: 4px 4px 4px rgba(20, 18, 18, 0.925);
}
#naac p{
    text-align: center;
    color: gray;
}
#sign > div{
    background-color: rgb(206, 200, 200);
    padding: 20px;
    display: flex;
    gap: 30px;
}
#sign button{
    border-radius: 10px;
    border: none;
    background-color: rgb(102, 102, 201);
}
#sign button:hover{
    background-color: rgb(95, 206, 95);
}

